*{
    padding:0;
    margin:0;
    font-family: 'Lato', sans-serif;
    
}


/* navigation-menu-bar-start*/


.navigation-container{
    display: flex;
    background-color: #111010;
}


.navigation{
    width: 80%;
    
}


.shop-title{

color: #E55473;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;

}

.shop-name{
    padding-top: 25px;
    padding-left: 100px;
}


.navigation-white-color{
    color: #FFF;
}


.navigation ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navigation ul li{
    padding: 40px;
    margin-right: 20px;
    
}

.navigation ul a{
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
}

.navigation ul a:hover{
    color: tomato;
}

.logo-area{
    padding-left: 70px;
    padding-top: 10px;
}


/* navigation-menu-bar-end */



/* hero-area-style-start */


.hero-area-container{
    display: flex;
    background-color: #E554731A
}

.hero-texts{
    padding: 200px 250px;
    max-width: 50%;
}

.hero-title{
color: #272727;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-bottom: 30px;
}

.hero-description{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-bottom: 30px;
}


.hero-call-to-action{
border-radius: 5px;
background: #E55473;
padding: 20px 30px;
border: none;


}

.hero-call-to-action a{
text-decoration: none;
color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



.hero-call-to-action a:hover{
    color:rgb(76, 79, 79);
    
}





.hero-img{
    width: 600px;
    padding-top: 50px;
    padding-right: 150px;
    
}



/* hero-area-style-end */



/* bonus-mark-area-style-start */

.bonus-area-container{
  /*padding:300px;*/
}


.bonus-area-texts{
padding: 100px 650px 50px 650px;
}

.bonus-area-title{
 
color: #272727;
text-align: center;

font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.bonus-area-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


.bonus-area-images{
  text-align: center;
  padding-bottom: 200px;
 
    

}

.bonus-image-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 310px;
    height: 428px;
    margin-right: 15px;
    padding: 40px 30px 0px 30px;
    

}


.bonus-image-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 370px;
    height: 370px;
    margin-right: 15px;
    padding-top: 100px;
   
 
}


.bonus-image-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 314px;
    height: 471px;
    padding: 10px 30px 0px 30px;
   
}


.anchor-areas{
  
  display: flex;
  justify-content: center;

  align-items: center;
  

  
    
}
.anchor{
    margin: -350px 50px 0px 50px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;

}

.anchor a{
    color: #272727; 
}

#p1{
    padding-right: 100px;
}

#p2{
    
    padding-right: 70px;
}

#p3{
    padding-left: 40px;
}





/* bonus-mark-area-style-end */




/* hot-deal-section-start */


.hot-deal-section-container{
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    padding:50px;
}


.hot-deal-texts{
    padding:200px 100px 200px 300px;
  
    
}


.hot-deal-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 30px;
}

#red-color-off{
    color:#E55473
}

.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
}



.hot-deal-button{
  text-align: center;
}


.hot-deal-call-to-action{
    border-radius: 5px;
    background: #E55473;
    border:none;
    padding:15px 25px;

}

.hot-deal-call-to-action a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hot-deal-call-to-action a:hover{
    color:rgb(76, 79, 79);
}


.hot-deal-img{
    width: 400px;
    padding-top: 50px;
    padding-right: 250px;
    
}


/* hot-deal-section-end */



/* instagram-area-start */


.instagram-area-container{
    padding:100px 300px;
    background-color: #FFF;
}

.instagram-area-texts{
    padding: 0px 300px;
}

.instagram-area-title{
    color: #272727;
    text-align: center;

    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 30px;
}

.instagram-area-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
    }

.instagram-area-images{
    display: flex;
   
}
.instagram-image{
    margin: 10px;
    width: 300px;
}


/* instagram-area-end */



/* contact-form-area-start */

.contact-form-area-container{
    background-image: url('images/Rectangle\ 9.png');

    padding:150px 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-form-title{

color: #272727;
text-align: center;

font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-bottom: 15px;
}

.contact-form-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-bottom: 20px;
}


.contact-form-input-area{
text-align: center;
}

.contact-form-input-area input{

width: 700px;
height: 64px;
border: none;
margin-right: 12px;

}

.contact-form-input-area button{
width: 150px;
height: 64px;
border-radius: 5px;
background: #E55473;
border: none;
}

.contact-form-input-area a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    
}

.contact-form-input-area a:hover{
    color:rgb(76, 79, 79);
}



/* contact-form-area-end */


.footer-div{
    background-color: #111010;
    padding:100px 650px;
    margin-top: 100px;
}
.footer-title{
    color: #E55473;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
padding-bottom: 20px;
}

.footer-white-color{
    color: #FFF;
}

.footer-description{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-bottom: 20px;

}

.footer-copyright{
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}




